<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseUrl</key>
	<string>https://maps.googleapis.com/maps/api/</string>
	<key>apiKey</key>
	<string>AIzaSyDL0Y7gf6QR00Bvxf_Si6koZOhDLh8U9E0</string>
	<key>nearbyPath</key>
	<string>place/nearbysearch/</string>
	<key>photo</key>
	<string>place/photo?</string>
</dict>
</plist>
